absl-py==2.1.0
annotated-types==0.7.0
astunparse==1.6.3
bcrypt==4.2.1
beautifulsoup4==4.12.3
blinker==1.9.0
CacheControl==0.14.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==44.0.0
Deprecated==1.2.15
firebase-admin==6.6.0
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Limiter==3.9.2
Flask-Login==0.6.3
Flask-Pydantic==0.12.0
flatbuffers==24.3.25
frozendict==2.4.6
gast==0.6.0
gcloud==0.18.3
google-api-core==2.24.0
google-api-python-client==2.155.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpcio==1.68.1
grpcio-status==1.68.1
h5py==3.12.1
html5lib==1.1
httplib2==0.22.0
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jws==0.1.3
keras==3.7.0
libclang==18.1.1
limits==3.14.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.3.2
msgpack==1.1.0
multitasking==0.0.11
namex==0.0.8
numpy==1.26.4
oauth2client==4.1.3
opt_einsum==3.4.0
optree==0.13.1
ordered-set==4.1.0
packaging==24.2
pandas==2.2.3
peewee==3.17.8
pipdeptree==2.24.0
platformdirs==4.3.6
pluggy==1.5.0
proto-plus==1.25.0
protobuf>=3.20.3,<5.0.0dev
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
PyJWT==2.10.1
pyparsing==3.2.0
Pyrebase4==4.8.0
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jwt==2.0.1
pytz==2024.2
requests==2.32.3
requests-toolbelt==0.10.1
rich==13.9.4
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
six==1.17.0
soupsieve==2.6
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==1.26.20
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.17.0
yfinance==0.2.50
