<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Apple Tracker - Analytics | Dashboard</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}" />

<!-- Core CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/demo.css') }}" />

<!-- Vendors CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />

<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apex-charts.css') }}" />

<!-- Page CSS -->

<!-- Helpers -->
<script src="{{ url_for('static', filename='assets/vendor/js/helpers.js') }}"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="{{ url_for('static', filename='assets/js/config.js') }}"></script>

  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                  width="25"
                  viewBox="0 0 25 42"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path
                      d="M13.79,0.36 L3.4,7.44 C0.57,9.69 -0.38,12.48 0.56,15.8 C0.69,16.23 1.1,17.79 3.12,19.23 C3.81,19.72 5.32,20.38 7.65,21.22 L2.63,24.55 C0.45,26.3 0.09,28.51 1.56,31.17 C2.84,32.82 5.21,33.26 7.09,32.54 C8.35,32.06 11.46,30 16.42,26.37 C18.03,24.5 18.7,22.45 18.41,20.24 C17.96,17.53 16.18,15.58 13.05,14.37 L10.92,13.47 L18.62,7.98 Z"
                      fill="#696cff"
                    ></path>
                    <path
                      d="M20.6,7.13 L25.6,13.8 C26.26,14.68 26.08,15.94 25.2,16.6 C24.85,16.86 24.43,17 24,17 H14 C12.9,17 12,16.1 12,15 C12,14.57 12.14,14.15 12.4,13.8 L17.4,7.13 C18.06,6.25 19.32,6.07 20.2,6.73 C20.35,6.85 20.49,6.98 20.6,7.13 Z"
                      fill="#696cff"
                    ></path>
                  </g>
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">Apple Tracker</span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>          
          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active">
              <a href="index.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->
        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{{ url_for('static', filename='assets/img/avatars/2.jpg') }}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{{ url_for('static', filename='assets/img/avatars/2.jpg') }}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">Ronic</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="auth-login-basic.html">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                  <div class="col-lg-12 mb-4">
                      <div class="row">
                          <!-- PE Ratio -->
                          <div class="col-lg-3 col-md-6 mb-4">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="card-title d-flex align-items-start justify-content-between">
                                          <div class="avatar flex-shrink-0">
                                              <img
                                                  src="{{ url_for('static', filename='assets/img/icons/unicons/chart-success.png') }}"
                                                  alt="PE Ratio"
                                                  class="rounded"
                                              />
                                          </div>
                                      </div>
                                      <span class="fw-semibold d-block mb-1">Ratio Cours/Bénéfice</span>
                                      <h3 class="card-title mb-2">
                                          {{ '{:,.2f}'.format(previous_day_metrics.pe_ratio) if previous_day_metrics.pe_ratio else 'N/A' }}
                                      </h3>
                                      {% if previous_day_metrics.pe_ratio %}
                                          {% if previous_day_metrics.pe_ratio > previous_day_metrics.pe_ratio %}
                                              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +{{ '{:,.2f}'.format(previous_day_metrics.pe_ratio - previous_day_metrics.pe_ratio) }}</small>
                                          {% elif previous_day_metrics.pe_ratio < previous_day_metrics.pe_ratio %}
                                              <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -{{ '{:,.2f}'.format(previous_day_metrics.pe_ratio - previous_day_metrics.pe_ratio) }}</small>
                                          {% else %}
                                              <small class="text-warning fw-semibold"><i class="bx bx-right-arrow-alt"></i> Pas de changement</small>
                                          {% endif %}
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
          
                          <!-- Dividend Yield -->
                          <div class="col-lg-3 col-md-6 mb-4">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="card-title d-flex align-items-start justify-content-between">
                                          <div class="avatar flex-shrink-0">
                                              <img
                                                  src="{{ url_for('static', filename='assets/img/icons/unicons/wallet-info.png') }}"
                                                  alt="Dividend Yield"
                                                  class="rounded"
                                              />
                                          </div>
                                      </div>
                                      <span class="fw-semibold d-block mb-1">Rendement dividende</span>
                                      <h3 class="card-title mb-2">
                                          {% if previous_day_metrics.dividend_yield %}
                                              {{ '{:,.2f}'.format(previous_day_metrics.dividend_yield * 100) }}%
                                          {% else %}
                                              N/A
                                          {% endif %}
                                      </h3>
                                      
                                      {% if previous_day_metrics.dividend_yield %}
                                          {% if previous_day_metrics.dividend_yield > previous_day_metrics.dividend_yield %}
                                              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +{{ '{:,.2f}'.format(previous_day_metrics.dividend_yield - previous_day_metrics.dividend_yield) }}%</small>
                                          {% elif previous_day_metrics.dividend_yield < previous_day_metrics.dividend_yield %}
                                              <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -{{ '{:,.2f}'.format(previous_day_metrics.dividend_yield - previous_day_metrics.dividend_yield) }}%</small>
                                          {% else %}
                                              <small class="text-warning fw-semibold"><i class="bx bx-right-arrow-alt"></i> Pas de changement</small>
                                          {% endif %}
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
          
                          <!-- Beta -->
                          <div class="col-lg-3 col-md-6 mb-4">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="card-title d-flex align-items-start justify-content-between">
                                          <div class="avatar flex-shrink-0">
                                              <img
                                                  src="{{ url_for('static', filename='assets/img/icons/unicons/stats.png') }}"
                                                  alt="Beta"
                                                  class="rounded"
                                              />
                                          </div>
                                      </div>
                                      <span class="fw-semibold d-block mb-1">Beta</span>
                                      <h3 class="card-title mb-2">
                                          {{ '{:,.2f}'.format(previous_day_metrics.beta) if previous_day_metrics.beta else 'N/A' }}
                                      </h3>
                                      {% if previous_day_metrics.beta %}
                                          {% if previous_day_metrics.beta > previous_day_metrics.beta %}
                                              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +{{ '{:,.2f}'.format(previous_day_metrics.beta - previous_day_metrics.beta) }}</small>
                                          {% elif previous_day_metrics.beta < previous_day_metrics.beta %}
                                              <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -{{ '{:,.2f}'.format(previous_day_metrics.beta - previous_day_metrics.beta) }}</small>
                                          {% else %}
                                              <small class="text-warning fw-semibold"><i class="bx bx-right-arrow-alt"></i> Pas de changement</small>
                                          {% endif %}
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
          
                          <!-- Market Cap -->
                          <div class="col-lg-3 col-md-6 mb-4">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="card-title d-flex align-items-start justify-content-between">
                                          <div class="avatar flex-shrink-0">
                                              <img
                                                  src="{{ url_for('static', filename='assets/img/icons/unicons/cc-primary.png') }}"
                                                  alt="Market Cap"
                                                  class="rounded"
                                              />
                                          </div>
                                      </div>
                                      <span class="fw-semibold d-block mb-1">Capitalisation Boursière</span>
<h3 class="card-title mb-2">
    {% if previous_day_metrics.market_cap %}
        {% set market_cap = previous_day_metrics.market_cap %}
        {% if market_cap >= 1_000_000_000 %}
            {{ '{:,.2f}'.format(market_cap / 1_000_000_000) }} B
        {% elif market_cap >= 1_000_000 %}
            {{ '{:,.2f}'.format(market_cap / 1_000_000) }} M
        {% elif market_cap >= 1_000 %}
            {{ '{:,.2f}'.format(market_cap / 1_000) }} K
        {% else %}
            {{ '{:,.2f}'.format(market_cap) }}
        {% endif %}
    {% else %}
        N/A
    {% endif %}
</h3>

                                      {% if previous_day_metrics.market_cap %}
                                          {% if previous_day_metrics.market_cap > previous_day_metrics.market_cap %}
                                              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +{{ '{:,.2f}'.format(previous_day_metrics.market_cap - previous_day_metrics.market_cap) }}</small>
                                          {% elif previous_day_metrics.market_cap < previous_day_metrics.market_cap %}
                                              <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -{{ '{:,.2f}'.format(previous_day_metrics.market_cap - previous_day_metrics.market_cap) }}</small>
                                          {% else %}
                                              <small class="text-warning fw-semibold"><i class="bx bx-right-arrow-alt"></i> Pas de changement</small>
                                          {% endif %}
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>          
        </div>      
    <div class="row">
                
                  </div>
                </div>
              </div>
                <!--/ Transactions -->
              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
    <!-- endbuild -->
    
    <!-- Vendors JS -->
    <script src="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>
    
    <!-- Main JS -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    
    <!-- Page JS -->
    <script src="{{ url_for('static', filename='assets/js/dashboards-analytics.js') }}"></script>
    
  </body>
</html>
